@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

/* 选中样式 */
::selection {
  background: #555;
  color: #fff;
  text-shadow: none;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}
